[credential "https://github.com"]
	helper = 
	helper = !/nix/store/zmby710xkfnzpq1wq3zxgp044724zwwb-gh-2.96.0/bin/.gh-wrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/zmby710xkfnzpq1wq3zxgp044724zwwb-gh-2.96.0/bin/.gh-wrapped auth git-credential
[user]
	email = github@restartfu.com
	name = RestartFU
[push]
	autoSetupRemote = true
[safe]
	directory = /home/danick/Projects/Personnal/zeno/practice
[url "git@github.com:"]
	insteadOf = https://github.com/
