/* DWM Color Palette */
@define-color col_gray1 #222222;
@define-color col_gray2 #444444;
@define-color col_gray3 #bbbbbb;
@define-color col_gray4 #eeeeee;
@define-color col_cyan #008787;

/* Global Reset */
* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
  color: @col_gray3;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

/* Waybar Window */
window#waybar {
  background-color: @col_gray1;
  color: @col_gray3;
  padding: 3px 0 1px 0;
}

/* Layout sections */
.modules-left, .modules-center, .modules-right {
  background-color: @col_gray1;
}

/* Workspaces */
#custom-ws-1,
#custom-ws-2,
#custom-ws-3,
#custom-ws-4,
#custom-ws-5,
#custom-ws-6,
#custom-ws-7,
#custom-ws-8,
#custom-ws-9 {
  background-color: @col_gray1;
  color: @col_gray3;
  padding: 0 2px;
}

#custom-ws-1:hover,
#custom-ws-2:hover,
#custom-ws-3:hover,
#custom-ws-4:hover,
#custom-ws-5:hover,
#custom-ws-6:hover,
#custom-ws-7:hover,
#custom-ws-8:hover,
#custom-ws-9:hover {
  background-color: @col_gray2;
  color: @col_gray4;
}

/* Clock, battery, etc. */
#clock, #pulseaudio, #memory, #network, #battery, #tray, #custom-screen-timeout, #custom-low-power, #custom-cpu-temp, #custom-status-separator {
  background-color: @col_gray1;
  color: @col_gray3;
  padding: 0 6px;
}

/* Hover effects (subtle gray flash) */
#clock:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-screen-timeout:hover,
#custom-low-power:hover,
#custom-cpu-temp:hover {
  background-color: @col_gray2;
  color: @col_gray4;
}

/* Status colors */
#battery.warning:not(.charging) {
  color: #f0c674;
}

#battery.critical:not(.charging) {
  color: #cc3333;
}

#battery.charging,
#battery.plugged {
  color: #8ec07c;
}

#pulseaudio.muted,
#network.disconnected {
  color: #777777;
}

#custom-screen-timeout.enabled {
  background-color: #8ec07c;
  color: @col_gray1;
}

#custom-screen-timeout.disabled {
  color: @col_gray3;
}

#custom-low-power.enabled {
  background-color: #f0c674;
  color: @col_gray1;
}

#custom-low-power.disabled {
  color: @col_gray3;
}

#custom-cpu-temp.warning {
  color: #f0c674;
}

#custom-cpu-temp.critical {
  background-color: #cc3333;
  color: @col_gray4;
}

#custom-cpu-temp.unknown {
  color: #777777;
}

/* System Tray */
#tray {
  padding-right: 6px;
}
#tray menu {
  background-color: @col_gray1;
  color: @col_gray3;
}

/* Active window title */
#custom-window {
  background-color: @col_cyan;
  color: @col_gray4;
  padding: 0 10px;
}
